.image-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  column-gap: 10px;
  row-gap: -20px;

  flex: var(--image-group-flex-weight);

  padding: 20px 40px;

  /* border: 1px solid black; */
}

.single-image {
  align-self: center;
}

.align-left .align-right {
  position: "relative";
}

.align-left {
  align-self: flex-start;
}

.align-right {
  align-self: flex-end;
}
