.page-summary-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: left;

  gap: 30px;

  margin: 0px 0px;
  margin-bottom: 50px;

  max-width: var(--page-content-max-width);

  cursor: pointer;
}

.page-summary-text {
  display: inline-block;
}

.page-summary-title {
  display: block;

  font-size: 1.2em;
  font-weight: 600;

  text-decoration: underline;

  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  line-height: 0.5em;

  text-align: center;
}

.page-summary-no-image-text,
.page-summary-image {
  width: 200px;
}

.page-summary-image {
  object-fit: contain;
}

.page-summary-no-image-text {
  height: 200px;
  min-width: 200px;

  border: 1px groove white;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
