.website-title-container {
  text-align: center;

  margin-bottom: 40px;
}

.website-heading {
  font-size: 300%;
  
  margin-bottom: 0px;
}

.website-sub-heading {
  font-size: 150%;

  margin-top: 20px;
}
