.page-title {
  text-align: center;

  font-size: 3em;
}

.page-content-container {
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px 20px;
  max-width: var(--page-content-max-width);
}

.section-title {
  text-align: center;

  font-size: 200%;

  margin: 40px 0px;
}