p {
  margin: 20px 0px;

  display: inline-block;

  text-wrap: wrap;
}

.alternating-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alternating-paragraph p {
  flex: 15;
}