p {
  margin: 20px 0px;

  display: inline-block;
}

.alternating-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 100px;
}

.alternating-paragraph p {
  flex: var(--alternating-paragraph-flex-weight);
}