.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  padding: 10px 20px;

  border: 1px solid black;
}

.header-left-section {
  display: flex;
}

.header-right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
}