.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  padding: 10px 40px;

  border-bottom: 1px solid hsl(0, 0%, 86%);
}

.header-left-section {
  display: flex;
}

.header-right-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
}
