:root {
  --text-color: white;

  --alternating-paragraph-side-margin: 40%;
  --alternating-paragraph-flex-weight: 15;

  --image-group-flex-weight: 10;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;

  background-color: rgb(49, 49, 49);

  color: var(--text-color);
  
  padding: 10px 0px;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

p {
  line-height: 150%;
}
